// colorset
	$bl : blue;
	$red : #e10000;
	$red2 : #e34841;
	$bg : white;

// font-size
	// $ft-s : 1.6rem;
	$ft-s : 3vh;
	// $ft-s-s : 1.3rem;
	$ft-s-s : 2.4vh;
	$ft-s-ss : 2vh;

// letter-spacing
	$l-s : 2px;
	// $l-s : 0.5vh;

// line-height
	// $l-h : 2.6rem;
	$l-h : 4.9vh;
	$l-h-s : 4.1vh;
	$l-h-ss : 3.6vh;

// font-weight
	$f-w : 550;
	// $f-w : 400;

// border width
	$b-w : 0.3vh;
	// $b-w : 0.2vh;