//== DarkMode ==//
body {
    --bkg-color: #fff;
    --text-color: #222;
	--text-color-blue: Blue;
	--border-color: #ddd;
	--selection-text-color: black;
	--selection-bkg-color: #707070;
}
body.dark-theme {
	--bkg-color: #121212;
    --bkg-color-2: black;
    --text-color: #eee;
	--text-color-blue: #0078ff;
	--border-color: #333;
	--selection-text-color: #333;
	--selection-bkg-color: #111;
}
@media (prefers-color-scheme: dark) {
    body {
        --bkg-color: #121212;
        --bkg-color-2: black;
        --text-color: #eee;
		--text-color-blue: #0078ff;
		--border-color: #333;
		--selection-text-color: #333;
		--selection-bkg-color: #111;
    }
    body.light-theme {
        --bkg-color: #fff;
        --bkg-color-2: white;
        --text-color: #222;
		--text-color-blue: Blue;
		--border-color: #ddd;
		--selection-text-color: black;
		--selection-bkg-color: #707070;
    }
}

//== ColorSet ==//
	$bl : blue;
	$red : #e10000;
	$red2 : #e34841;
	$green : #62ff93;
	$bg : white;

//== Font-Size ==//
	$ft-s : 0.7rem;
	$ft-s-s : 0.7rem;
	$ft-s-ss : 0.7rem;
	//= card-title, deatil-title =//
	$ft-s-title : 0.9rem;
	//= footer, about-right-section =//
	$ft-s-small : 0.65rem;
	//= f-n =//
	$ft-s-f-n : 0.45rem;
	
//== Letter-Spacing ==//
	$l-s : initial;
	$l-s-bold : -0.4px;

//== Line-Height ==//
	$l-h : 1.55;
	$l-h-s : 1.55;
	$l-h-ss : 1.55;

//== Font-Weight ==//
	$f-w : initial;

//== Border-Width ==//
	$b-w : 1px;

