// colorset
	$bl : blue;
	$red : #e10000;
	$red2 : #e34841;
	$bg : white;

// font-size
	$ft-s : initial;
	$ft-s-s : initial;
	$ft-s-ss : initial;

// letter-spacing
	$l-s : initial;

// line-height
	$l-h : 1.55;
	$l-h-s : 1.55;
	$l-h-ss : 1.55;

// font-weight
	$f-w : 500;

// border width
	$b-w : 2px;

