.row-px {
	width: 100%;
	height: 100vh;
	// height: calc(100vh - 80px);
	// overflow-x: hidden;
    position: absolute;
	padding: 80px 0;
	padding-right: 20px;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	z-index: 5;
	.scroll-info {
		width: 100%;
		text-align: center;
		position: absolute;
		z-index: 1;
		font-weight: bold;
		margin: auto;
		font-size: 2rem;
		height: fit-content;
	}
}


//== DEVICE SCREEN ==//
/*대부분의 스마트폰 모바일 기기(세로)*/
@media (min-width: 320px) and (max-width: 480px) {
	.row-px {
		padding: 0 10px 20px;
		padding-bottom: 30px;
		width: initial;
		height: 100%;
		position: initial;
	}
}

/*저해상도 태블릿, 모바일(가로)*/
@media (min-width: 481px) and (max-width: 767px) {
	.row-px {
		padding: 0 10px 20px;
		padding-bottom: 30px;
		width: initial;
		height: 100%;
		position: initial;
	}
}