 
.scroll-col-md-9 {
	height: 100%;
	z-index: 10;
	overflow: auto;	
} 
.scroll-row {
	width: 100%;
	height: fit-content;
    position: absolute;
	padding: 50px 20px 3vh 0;
	padding-right: 15px;
	.scroll-info {
		width: 100%;
		text-align: center;
		position: absolute;
		z-index: 1;
		font-weight: bold;
		margin: auto;
		font-size: 2rem;
		height: fit-content;
	}
}
.visible {
	.view-layout {
		.row {
			.col-md-9 {
				.scroll-row{
					z-index: 10;
				}
			}
		}
	}
}

//== DEVICE SCREEN ==//
/*대부분의 스마트폰 모바일 기기(세로)*/
@media (min-width: 320px) and (max-width: 480px) {
	.scroll-row {
		padding: 0 8px 20px;
		padding-bottom: 35px;
		width: initial;
		height: 100%;
		position: initial;
	}
	.scroll-col-md-9 {
		height: initial;
	} 
}

/*저해상도 태블릿, 모바일(가로)*/
@media (min-width: 481px) and (max-width: 767px) {
	.scroll-row {
		padding: 0 10px 20px;
		padding-bottom: 30px;
		width: initial;
		height: 100%;
		position: initial;
		overflow: hidden;
	}
	.scroll-col-md-9 {
		height: initial;
	} 
}