@import '../../scss/variable.scss';

.container {
  box-shadow: 0vh 0vh 1vh var(--text-color);
  background: var(--bkg-color);
  border: 1px solid var(--text-color);
  position: absolute;
  z-index: 5;
  p {
    margin: 0;
  }
  ul {
    text-align: left;
    li {
      margin-bottom: 5px;
    }
  }

  .title {
    border-bottom: 1px solid var(--border-color);
    text-align: left;
    padding: 4px 11px 5px;
    font-size: $ft-s;
    font-weight: bold;
    touch-action: auto;
    cursor: pointer;
    span {
      display: inline-block;
    }
    .btn {
      &--close {
        position: absolute;
        right: 8px;
        top: 4px;
        font-size: 0.9rem;
        touch-action: auto;
      }
    }
    &:hover {
      border-color: var(--text-color);
    }
  }
  .content {
    text-align: left;
    touch-action: auto;
    &--isPadding {
      padding: 12px 10px 15px;
    }
    &__wrapper {
      p {
        display: inline-table;
      }
    }
  }
}

.highlight {
  z-index: 100;
  .title {
    background-color: var(--text-color);
    span {
      color: var(--bkg-color) !important;
      display: inline-block;
    }
    .btn {
      &--close {
        color: var(--bkg-color) !important;
      }
    }
  }
}

//== DEVICE SCREEN ==//
/*대부분의 스마트폰 모바일 기기(세로)*/
@media (min-width: 320px) and (max-width: 480px) {
  .container {
    position: relative;
    width: 100% !important;
    max-width: 100% !important;
    margin-bottom: 5px;
    top: auto !important;
    left: auto !important;
    box-shadow: 0vh 0vh 0.5vh var(--text-color) !important;
    transform: initial !important;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

/*저해상도 태블릿, 모바일(가로)*/
@media (min-width: 481px) and (max-width: 767px) {
  .container {
    position: relative;
    width: 100% !important;
    max-width: 100% !important;
    margin-bottom: 5px;
    top: auto !important;
    left: auto !important;
    box-shadow: 0vh 0vh 0.5vh var(--text-color) !important;
    transform: initial !important;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

/* close */
.hide {
  opacity: 0;
  z-index: -1;
}
