@import '../../scss/variable.scss';

.list {
  &--wrapper {
  }
  &--footnote {
    font-size: $ft-s-f-n;
    color: var(--text-color-blue) !important;
    cursor: pointer;
    position: relative;
    top: -4px;
    -webkit-text-stroke: 0.2px;
    margin-right: 2px;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  &--link {
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

//== DEVICE SCREEN ==//
/*대부분의 스마트폰 모바일 기기(세로)*/
@media (min-width: 320px) and (max-width: 480px) {
}

/*저해상도 태블릿, 모바일(가로)*/
@media (min-width: 481px) and (max-width: 767px) {
}
