@import '../../scss/variable.scss';

.NotFound {
  text-align: center;
  // height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  overflow: unset;
  width: 100%;
  top: 50%;
  bottom: 50%;
  h1 {
    font-weight: bold;
    font-size: $ft-s-title;
  }
  p {
    text-align: center;
  }
}
