@import '../../scss/variable.scss';

.container {
  z-index: $z-layout;
  position: fixed;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  line-height: 1;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  transition: none;
  width: fit-content;
  .toggle {
    min-width: fit-content;
    transition: all ease 0.1s 0s;
    -moz-transition: all ease 0.1s 0s;
    -webkit-transition: all ease 0.1s 0s;
    text-decoration: none;
    color: var(--text-color);
    a {
      margin-top: 0.7rem;
      display: block;
    }
  }
  .active {
    border-bottom: $b-w solid var(--text-color) !important;
    font-weight: bold;
    line-height: 1.2;
    transition: all ease 0.1s 0s;
    -moz-transition: all ease 0.1s 0s;
    -webkit-transition: all ease 0.1s 0s;
    letter-spacing: $l-s-bold;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}

.center {
  left: 50%;
  transform: translateX(-50%);
}

//== DEVICE SCREEN ==//
/*대부분의 스마트폰 모바일 기기(세로)*/
@media (min-width: 320px) and (max-width: 480px) {
  .container {
    padding: 10px 8px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

/*저해상도 태블릿, 모바일(가로)*/
@media (min-width: 481px) and (max-width: 767px) {
  .container {
    padding: 10px 8px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
