@import "../../assets/scss/variable.scss";

.footer {
	z-index: 10;
    position: fixed;
    bottom: 0;
	width: 100%;
	text-align: center;
	font-size: $ft-s;
	margin-bottom: 5px;
	font-weight: 600;
	padding-bottom: 0.5rem;
	color: var(--text-color);
    svg {
        stroke: var(--text-color);
        margin-bottom: 1px;
        width: 15px;
    }
	a {
		text-decoration: none;
	}
	.lang-toggle-box {
		margin-bottom: 0.2rem;
		.lang-toggle {
			margin: 0 5px;
			cursor:pointer;
		}
		.active {
            border-width: $b-w;
            border-bottom: $b-w solid var(--text-color);
        }
	}
	.dividing-line {
		margin: 0 5px;
	}
	.dark-toggle-box {
		.dark-toggle {
			margin: 0 5px;
			cursor:pointer;
		}
		.dark-active {
			border-bottom: $b-w solid var(--text-color) !important;
		}
	}
}