@import "../../../assets/scss/variable.scss";

.about-left {
	margin-top: 50px;
}
.about-mid {
	padding: 50px 10px 40px;
	height: 100vh;
	text-align: center;
}
.about-right {
	margin-top: 50px;
	height: 100vh;
	p {
		font-size: $ft-s-small;
	}
}
.title-center {
	display: block;
	width: fit-content;
	margin: auto;
	margin-bottom: 1.6vh;
}
.about-align-center {
	text-align: center;
	word-break: keep-all;
}
#notice {
	opacity: 0;
    position: absolute;
    background: white;
    border: 1px solid black;
    bottom: 36px;
	text-align: center;
	padding: 3px;
	p {
		margin: 0;
	}
}

//== DEVICE SCREEN ==//
/*대부분의 스마트폰 모바일 기기(세로)*/
@media (min-width: 320px) and (max-width: 480px) {
	.about-left {
		padding: 0 20px;
	}
	.about-mid {
		padding: 0 20px;
		height: fit-content;
   		top: initial;
	}
	.about-right {
		padding: 0 20px;
		padding-bottom: 20px;
		margin-top: 0px;
		height: fit-content;
	}
}

/*저해상도 태블릿, 모바일(가로)*/
@media (min-width: 481px) and (max-width: 767px) {
	.about-mid {
		padding: 0 20px;
		height: fit-content;
   		top: initial;
	}
	.about-right {
		padding: 0 20px;
		padding-bottom: 60px;
		margin-top: 0px;
		height: fit-content;
	}
}