.about-mid {
	padding: 80px 10px 40px;
    height: 100vh;
    overflow: auto;
    overflow-x: hidden;
	text-align: center;
}
.title-center {
	display: block;
	width: fit-content;
	margin: auto;
}
.about-center {
	text-align: center;
	word-break: keep-all;
}
.about-right {
    margin-top: 80px;
}

//== DEVICE SCREEN ==//
/*대부분의 스마트폰 모바일 기기(세로)*/
@media (min-width: 320px) and (max-width: 480px) {
	.about-mid {
		padding: 0 20px;
		height: initial;
   		top: initial;
	}
	.about-right {
		padding: 0 20px;
		padding-bottom: 60px;
		margin-top: 10px;
	}
}

/*저해상도 태블릿, 모바일(가로)*/
@media (min-width: 481px) and (max-width: 767px) {
	.about-mid {
		padding: 0 20px;
		height: initial;
   		top: initial;
	}
	.about-right {
		padding: 0 20px;
		padding-bottom: 60px;
		margin-top: 10px;
	}
}