.about-mid {
	padding: 80px 30px 40px;
    height: 100vh;
    overflow: auto;
    overflow-x: hidden;
	top: -80px;
	text-align: center;
}
.title-center {
	display: block;
	width: fit-content;
	margin: auto;
}
.about-center {
	text-align: center;
	word-break: keep-all;
}

//== DEVICE SCREEN ==//
/*Device = 대부분의 스마트폰 모바일 기기(세로)*/
@media (min-width: 320px) and (max-width: 480px) {
	.about-mid {
		padding: 0 10px;
		height: initial;
   		top: initial;
	}
}

/*Device = 저해상도 태블릿, 모바일(가로)*/
@media (min-width: 481px) and (max-width: 767px) {
}