@import '../../scss/variable.scss';

.go-top-btn {
  font-size: 1.2rem;
  opacity: 0;
  position: absolute;
  width: 35px;
  height: 35px;
  left: 50%;
  bottom: 65px;
  background: var(--bkg-color);
  box-shadow: 0vh 0vh 0.5vh var(--text-color) !important;
  line-height: 1.9rem;
  border-radius: 100%;
  text-align: center;
  margin-left: -17.5px;
  text-shadow: 0 0 3px var(--box-shadow-1);
  cursor: pointer;
  border: 1px solid var(--text-color);
  z-index: $z-layout;
}
